@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

:root {
  /* text */
  --sm-txt: 2.5vh;
  --lg-txt: 8vh;
  --md-txt: 3vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kode Mono", monospace;
}
body{
  height: 100vh;
  overflow-y: hidden;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  padding: 2vw 5vw;
  /* background-image: url(https://images.template.net/110289/free-bright-teal-background-edit-online.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: calc(18px + 1vw);
  font-weight: 800;
  color: #05bcff;
}
.logo > span {
  color: #ff8705;
}
.profile-tools,
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  font-size: calc(7px + 0.5vw);
}
nav ul a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.bor-out-0 {
  border: none;
  outline: none;
  font-size: calc(7px + 0.5vw);
  font-weight: 600;
  background: transparent;
}

#search-border {
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.645);
  padding: 0 0.5vw;
  font-size: calc(7px + 0.5vw);
  gap: 0.5vw;
  border-radius: 0.8vw;
}
#search-border input {
  border: none;
  outline: none;
  padding-left: 0.3vw;
  background: transparent;
}

.profile-tools img {
  border-radius: 50%;
}
/* nav end */

.path {
  margin: 5vh 0 2vh;
  font-size: 2vh;
  color: rgba(0, 0, 0, 0.804);
}

main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 55vh;
  border: 1px solid black;
}
.left {
  flex-basis: 40%;
  background-color: #f5f5f5;
}
.left img {
  width: 75%;
  transform: rotate(35deg) translate(45px, -45px);
  /* border: 1px solid black; */
  z-index: -999;
}
.right {
  flex-basis: 50%;
}
.right h1 {
  font-size: calc(22px + 2vh);
  font-weight: 900;
  margin-bottom: 1.5vh;
}
.right > p {
  font-size: calc(10px + 0.3vw);
  color: rgba(0, 0, 0, 0.605);
}
.price-dis {
  min-width: 70%;
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  gap: 2.5vw;
  margin: 2vh 0;
  padding: 0.5vh 1vw;
}
.price{
  flex-basis: 40%;
  color: #0138ff;
  background-color: #f5f5f5;
  border-radius: 1.5vh;

}
.discount {
  flex-basis: 60%;
}
.price span {
  font-size: 2vh;
  position: absolute;
  top: 1.5vh;
  left: 1.5vw;
}
.price p {
  font-size: 5vh;
  text-align: center;
  position: relative;
}
.discount p {
  font-size: 3.5vh;
  font-weight: 700;
  line-height: .8;
  color: #2cd637;
}
.discount span {
  font-size: 2vh;
  color: rgba(0, 0, 0, 0.585);
}
.quantity-btn{
  height: 9vh;
  display: flex;
}
#pices{
  flex-basis: 10%;
  height: 100%;
  text-align: center;
  margin-right: .5vw;
  background-color: #f5f5f5;
  border: none;
  outline: none;
  border-radius: 1vh;

}
.quantity-btn button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2vw;
  font-weight: 600;
  color: white;
  background: #ff8705;
  border: none;
  border-radius: 1.5vh;
}
.slide-img{
  display: flex;
  /* overflow-x: scroll; */
  justify-content: space-around;
}
.slide-img img{
  height: 20vh;
  border-radius: 1.5vh;
  z-index: 5;
}
.slide-img img:active{
  position: absolute;
  top: 30%;
  left: 40%;
  transform: scale(3);
}